[Unit]
Description=Carbonio Videoserver sidecar proxy
Documentation=https://docs.zextras.com/
Requires=network-online.target
After=network-online.target
PartOf=carbonio.target

[Service]
User=videoserver
ExecStart=/usr/bin/consul connect envoy \
    -token-file /etc/carbonio/videoserver/service-discover/token \
    -admin-bind localhost:0 \
    -sidecar-for carbonio-videoserver
Restart=on-failure
RestartSec=15
KillSignal=SIGINT
LimitNOFILE=65536

[Install]
WantedBy=carbonio.target