[Unit]
Description=Zextras Videoserver
Wants=network.target
PartOf=carbonio.target

[Service]
Type=simple
ExecStartPre=/usr/bin/carbonio-message-broker-consul-check
ExecStart=/opt/zextras/common/bin/janus
User=videoserver
Group=videoserver
Restart=on-failure
LimitNOFILE=65536
TasksMax=infinity
Nice=-10

[Install]
WantedBy=carbonio.target
